@import '../../App.css';


header {
    background: #A8C2CA;
}

.header_navlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 50%;
    align-items: center;
}

.header_navlink {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: 600;
    padding: 7px;
    border-bottom: 3px solid transparent;
    transition: .5s;
}

.header_navlink:hover{
    border-bottom: 3px solid #fff;
    transition: .5s;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#hero {
    flex: 1 1 50%;
    align-self: center;
}


@media all and (max-width: 490px) {
    nav {
        flex-direction: column;
    }
    .header_navlist {
        flex-direction: column;
        opacity: 0;
    }
    .header_navlist_active {
        opacity: 1;
    }

    .line {
        background: #4a4a4a;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 3rem;
        height: .3rem;
        margin-bottom: 5px;
    }
}
