.works {
    display: flex;
    justify-content: space-evenly;
   
}

.icon {
    height: 70px;
    width: 70px;
}
.width {
    max-width: 300px;
    padding: 20px;
    
}
#kek {
    text-align: start;
    margin-left: 60px;
    padding: 30px;
}


.step {
text-align: center;
padding: 60px;
}
.icon {
    padding: 30px;
}

.spaceing {
   margin-bottom: 60px;
}