
.EventCard_title {
  position: absolute;
  right: 15px;
  bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.EventCard_image {
  position: relative;
  background: url('../../../assets/images/faraya.jpg')no-repeat center center/cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 30px !important;
  border-bottom: 6px solid #A8C2CA;
}

.overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0,0,0,.5);
  border-top-right-radius: 30px;
}

.EventCard_container {
  color: #000000 ;
  font-size: 0.8rem;
  margin-top: 15px;
  padding-left: 15px;
}



.EventCard_date {
  margin-top: 10px;
}

.EventCard_calendar, .EventCard_users {
  margin-right: 20px;
}
.EventCard_marker {
  margin-right: 25px;
}
.EventCard_flex {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.EventCard_flex div:nth-child(2) {
  margin-left: 8px;
}

.EventCard_info {
  margin-right: 18px;
}

@media all and (max-width: 752px) {
  .EventSection_m_mt10 {
    margin-top: 10px;
  }
}